{% spaceless %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Picture Share</title>
    <meta name="description" content="picture share" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <body>
    <form action="/upload" method="post">
      <input type="file" name="file" id="file-upload" />
      <input type="button" value="Upload" />
    </form>

    {% for file in files %}
    <div class="card">
      <div class="card-image">
        <img src="{{ s3url }}/files/{{ file }}" />
      </div>
    </div>
    {% endfor %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
{% endspaceless %}
