<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="
    https://cdn.jsdelivr.net/npm/materialize-css@1.0.0/dist/css/materialize.min.css
    "
      rel="stylesheet"
    />
    <title>Document</title>
  </head>

  <body>
    <form action="/file/upload" method="post">
      <input type="file" name="file" id="upload-file" />
      <button type="submit"></button>
    </form>

    <div class="collection">
      {% for item in items %}

      <a href="/p/{{ item }}" class="collection-item">{{ item }}</a>

      {% endfor %}
    </div>
    <script src="
https://cdn.jsdelivr.net/npm/materialize-css@1.0.0/dist/js/materialize.min.js
"></script>
  </body>
</html>
